

<div id="button" style="text-align: center;">

    <% if current_user %>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Login", login_path%>
        <%= form_tag(register_path, method: :get) do %>
        <%= submit_tag "Create a New User"%>
      <% end %>
    <% end %>


    <br><br>

</div>

<div id="existing-users" style="text-align: center;">
  <% if current_admin? %>
  <%= render partial: 'admin', locals: { users: @users }%>
  <% elsif current_user %>
  <%= render partial: 'user', locals: { users: @users } %>
  <% end %>
</div>